.site-contacts {
  &__list {
    display: grid;
    row-gap: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__item {
    padding-left: 15px;
    padding-right: 15px;

    &--icon {
      padding-left: 40px;
      padding-top: 3px;
      background-repeat: no-repeat;
      background-position: left 15px center;
      background-size: 16px 16px;
    }
  }

  &__phone {
    & a {
      font-size: 18px;
      text-decoration: none;
    }
  }

  &__adress {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3607 3.54548C12.9113 2.65967 12.2465 1.90103 11.4273 1.33928C10.6081 0.777528 9.66088 0.430699 8.67266 0.330669C8.22538 0.285773 7.77474 0.285773 7.32747 0.330669C6.33929 0.430858 5.39213 0.77775 4.57298 1.33948C3.75384 1.90121 3.08898 2.65977 2.63947 3.54548C2.07388 4.67566 1.85535 5.94793 2.01142 7.20206C2.16749 8.45619 2.69117 9.6361 3.51651 10.5932L7.54258 15.488C7.59818 15.5555 7.66803 15.6099 7.74712 15.6472C7.82622 15.6846 7.9126 15.7039 8.00006 15.7039C8.08753 15.7039 8.17391 15.6846 8.253 15.6472C8.3321 15.6099 8.40195 15.5555 8.45754 15.488L12.483 10.5932C13.3085 9.63616 13.8322 8.45629 13.9884 7.20215C14.1446 5.94802 13.9262 4.67572 13.3607 3.54548ZM11.5675 9.8406L8.00006 14.1784L4.43266 9.8406C3.76386 9.05941 3.33723 8.10025 3.20493 7.08043C3.07264 6.06061 3.24043 5.02434 3.68777 4.09837C4.04736 3.38616 4.5802 2.77575 5.23731 2.32325C5.89443 1.87075 6.65473 1.59067 7.44836 1.50874C7.63168 1.4903 7.81582 1.4812 8.00006 1.48148C8.18452 1.48125 8.36886 1.49054 8.55236 1.50934C9.34602 1.59115 10.1064 1.87119 10.7635 2.32371C11.4206 2.77622 11.9534 3.38669 12.313 4.09897C12.7602 5.02486 12.9279 6.06102 12.7956 7.08072C12.6633 8.10041 12.2361 9.05947 11.5675 9.8406Z' fill='%23841308'/%3E%3Cpath d='M8.00007 3.25928C7.41406 3.25928 6.8412 3.43305 6.35394 3.75863C5.86668 4.0842 5.48691 4.54695 5.26265 5.08836C5.03839 5.62977 4.97972 6.22553 5.09404 6.80029C5.20837 7.37504 5.49056 7.90299 5.90494 8.31737C6.31932 8.73175 6.84727 9.01394 7.42203 9.12827C7.99679 9.2426 8.59254 9.18392 9.13395 8.95966C9.67536 8.7354 10.1381 8.35563 10.4637 7.86837C10.7893 7.38112 10.963 6.80826 10.963 6.22224C10.9621 5.4367 10.6496 4.68361 10.0942 4.12815C9.53871 3.57269 8.78561 3.26022 8.00007 3.25928ZM8.00007 8.00002C7.64846 8.00002 7.30475 7.89575 7.01239 7.70041C6.72004 7.50506 6.49218 7.22741 6.35762 6.90257C6.22307 6.57772 6.18786 6.22027 6.25646 5.87541C6.32505 5.53056 6.49437 5.21379 6.74299 4.96516C6.99162 4.71653 7.30839 4.54722 7.65325 4.47862C7.9981 4.41003 8.35555 4.44523 8.6804 4.57979C9.00525 4.71434 9.2829 4.94221 9.47824 5.23456C9.67359 5.52691 9.77785 5.87063 9.77785 6.22224C9.77738 6.69359 9.58993 7.1455 9.25663 7.4788C8.92334 7.8121 8.47143 7.99955 8.00007 8.00002Z' fill='%23841308'/%3E%3C/svg%3E ");
  }

  &__shedule {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99973 1.17334C3.96025 1.17334 0.67334 4.45999 0.67334 8.49999C0.67334 12.54 3.96025 15.8266 7.99973 15.8266C12.04 15.8266 15.3264 12.54 15.3264 8.49999C15.3264 4.45999 12.04 1.17334 7.99973 1.17334ZM7.99973 14.8498C4.49855 14.8498 1.65017 12.0014 1.65017 8.49999C1.65017 4.99855 4.49881 2.15017 7.99973 2.15017C11.5014 2.15017 14.3495 4.99855 14.3495 8.49999C14.3495 12.0014 11.5017 14.8498 7.99973 14.8498Z' fill='%23841308'/%3E%3Cpath d='M11.6281 7.96965H8.48803V3.81777C8.48803 3.68825 8.43659 3.56402 8.34503 3.47241C8.25346 3.3808 8.12927 3.32929 7.99974 3.32922C7.87026 3.32936 7.74613 3.3809 7.65463 3.4725C7.56312 3.56411 7.51172 3.68829 7.51172 3.81777V8.94622H11.6281C11.7548 8.94206 11.8749 8.88879 11.9631 8.79767C12.0513 8.70655 12.1006 8.58473 12.1006 8.45793C12.1006 8.33114 12.0513 8.20931 11.9631 8.11819C11.8749 8.02708 11.7548 7.97381 11.6281 7.96965Z' fill='%23841308'/%3E%3C/svg%3E ");
  }

  &__link-main-site {
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid var(--medium-gray);

    & a {
      display: inline-block;
      padding-top: 17px;
      padding-bottom: 14px;
      padding-left: 25px;
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 1C6.51664 1 5.0666 1.43987 3.83323 2.26398C2.59986 3.08809 1.63856 4.25943 1.07091 5.62987C0.50325 7.00032 0.354725 8.50832 0.644114 9.96318C0.933503 11.418 1.64781 12.7544 2.6967 13.8033C3.7456 14.8522 5.08197 15.5665 6.53683 15.8559C7.99168 16.1453 9.49968 15.9968 10.8701 15.4291C12.2406 14.8614 13.4119 13.9001 14.236 12.6668C15.0601 11.4334 15.5 9.98336 15.5 8.5C15.4978 6.51157 14.7069 4.60522 13.3008 3.19918C11.8948 1.79315 9.98844 1.00225 8 1ZM8 15C6.9675 15 5.8865 13.669 5.35 11.5H10.65C10.1135 13.669 9.0325 15 8 15ZM5.147 10.5C4.951 9.17387 4.951 7.82613 5.147 6.5H10.853C10.9522 7.16203 11.0013 7.83059 11 8.5C11.0013 9.16941 10.9522 9.83797 10.853 10.5H5.147ZM1.5 8.5C1.50037 7.82077 1.60768 7.14584 1.818 6.5H4.143C3.95234 7.82652 3.95234 9.17348 4.143 10.5H1.818C1.60768 9.85416 1.50037 9.17923 1.5 8.5ZM8 2C9.0325 2 10.1135 3.331 10.65 5.5H5.35C5.8865 3.331 6.9675 2 8 2ZM11.857 6.5H14.182C14.6059 7.79964 14.6059 9.20036 14.182 10.5H11.857C11.9518 9.83754 11.9996 9.16921 12 8.5C11.9996 7.83079 11.9518 7.16246 11.857 6.5ZM13.7605 5.5H11.677C11.4545 4.41251 11.0182 3.38004 10.3935 2.4625C11.8426 3.0404 13.0369 4.11789 13.7605 5.5ZM5.6065 2.4625C4.98179 3.38004 4.54551 4.41251 4.323 5.5H2.2395C2.96306 4.11789 4.15743 3.0404 5.6065 2.4625ZM2.2395 11.5H4.323C4.54551 12.5875 4.98179 13.62 5.6065 14.5375C4.15743 13.9596 2.96306 12.8821 2.2395 11.5ZM10.3935 14.5375C11.0182 13.62 11.4545 12.5875 11.677 11.5H13.7605C13.0369 12.8821 11.8426 13.9596 10.3935 14.5375Z' fill='%23841308'/%3E%3C/svg%3E ");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 16px 16px;
      text-decoration: none;
    }
  }

  @include media-min ($md) {
    &__item {
      padding-left: 30px;
      padding-right: 30px;

      &--icon {
        padding-left: 55px;
        background-repeat: no-repeat;
        background-position: left 30px center;
        background-size: 16px 16px;
      }
    }

    &__link-main-site {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @include media-min ($xl) {
    &__phone {
      & a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__link-main-site {
      & a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
