:root {
  --white: #FFFFFF;
  --black: #323335;
  --dark-gray: #7B808A;
  --medium-gray: #CCCFD7;
  --light-gray: #F9F9F9;
  --accent: #841308;
  --error: rgba(132, 19, 8, 0.2);
}

$md: 768px;
$xl: 1440px;
$main-font: "Evolventa";
$mobile-min-width: 360px;
